@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background: radial-gradient(circle, rgb(209, 5, 5) 20%,rgb(0, 0, 0) 60%, rgb(0, 0, 0) 20%);
}
.clock{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 320px;
    width: 320px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 15px solid rgb(10, 10, 10);
    box-sizing: content-box;
    box-shadow: 15px 15px 35px rgba(0, 0, 0, 0.2), 
    inset 0 0 30px rgba(0, 0, 0,0.4);
    background-color: rgb(126, 8, 8);
}
img{
    position: relative;
}
.hand{
    position: absolute;
    background-color: rgb(15, 15, 15);
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;
}
.hour{
    height: 60px;
    width: 10px;
    top: 100px;
}
.minute{
    height: 80px;
    width: 5px;
    top: 80px;
}
.seconds{
    height: 90px;
    width: 3px;
    top: 70px;
    background-color: #e4292f;
}
    
.typewriter h1 {
    width: 45%;
    text-align: center;
    color: chartreuse;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 30px auto;                
    letter-spacing: .15em; 
    animation:typing 2.5s steps(30, end),blink-caret .5s step-end infinite;
}

@keyframes typing {
from { width: 0 }
to { width: 100% }
}

@keyframes blink-caret {
from, to { border-color: black }
50% { border-color: rgb(255, 0, 0) }

}  
